.bg-container {
    background-image: url('https://assets.ccbp.in/frontend/dynamic-webapps/book-search-bg.png');
    background-size: cover;
    height: 60vh;
}

.author-text {
    color: #323f4b;
    font-size: 34px;
    font-weight: bold;
    font-family: Roboto;
    text-align: center;
}

.result {
    color: #323f4b;
    text-align: center;
}